/* text alignment */

h2 {
    text-align: center;
    text-decoration: dashed;
}


/* kotak login*/

form {
    border: 3px solid #0f8fe4;
    border-width: 5px 5px;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 5%;
    padding-right: 5%;
}


/* Full-width inputs */

input[type=text],
input[type=password] {
    border-left: deeppink;
    width: 50%;
    padding: auto;
    margin: auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: content-box;
}


/* Set a style for all buttons */

button {
    background-color: #12e69b;
    color: white;
    padding: 10px 5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
}


/* Add a hover effect for buttons */

button:hover {
    opacity: 0.8;
}


/* logo skoladigital */

.imgcontainer {
    text-align: center;
    margin: 4px 0 1px 0;
}


/* logo skoladigital */

img.avatar {
    width: 30%;
    border-radius: 100%;
}


/* Add padding to containers */

.container {
    text-align: center;
    padding: 16px;
    display: block;
}


/* The "Forgot password" text */

span.psw {
    float: center;
    padding-top: 16px;
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}